<h1>Gruppen</h1
<p>Hier befindet sich eine Liste von schon vorhanden Gruppen.
    Sie können bei einer Gruppe beitreten oder eine eingene Gruppe
    gründen.
</p>
<table class="tableGroups" cellspacing="5px">
    <thead >
        <tr>
            <th>Gruppenname</th>
            <th>Mitglieder</th>
            <th>Ort</th>
            <th>Produktart</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Gruppe1</td>
            <td>10</td>
            <td>Berlin</td>
            <td>Obst</td>
            <td>
                <a href="index.html"> <input type="submit" value="auswählen" />
                </a>
            </td>
        </tr>
        <tr>
            <td>Gruppe4</td>
            <td>20</td>
            <td>Berlin</td>
            <td>Obst</td>
            <td>
                <a href="index.html"> <input type="submit" value="auswählen" />
                </a>
            </td>
        </tr>
        <tr>
            <td>Gruppe3</td>
            <td>12</td>
            <td>Frankfurt</td>
            <td>Milch</td>
            <td>
                <a href="index.html"> <input type="submit" value="auswählen" />
                </a>
            </td>
        </tr>
        <tr>
            <td>Gruppe4</td>
            <td>29</td>
            <td>Berlin</td>
            <td>Gemüse</td>
            <td>
                <a href="index.html"> <input type="submit" value="auswählen" />
                </a>
            </td>
        </tr>
    </tbody>
</table>
<p></p>
<div class="newGroup">
    <ul>
        <li>
            <a id="newGroupButton" href="index.html">Gruppe gründen</a>
        </li>
    </ul>
</div>
