<h1>Willkommen bei FoodGroups</h1>
<p>FoodGroups.com ist ein Projekt, um <a href="/pages/groups">Gruppen</a> für Bio-Einkaufsgemeinschaften (<a href="">Foodcoops</a>) zu finden und beizutreten oder selber welche zu gründen.
</p>
<p>Zur Zeit gibt es 800.000 bestehende <a href="/pages/groups">Gruppen</a></p>
